# Hide these file extensions
/kohana/application/config/*
/kohana/application/config
*.pdf
*.xlsx
*.xls
*.DS_Store
_trinity*
*logs*
build.sh
.DS_Store
*dompdf*
*extra-docs/*
kohana/.htaccess


build*
.idea*
assets/photos*
node_modules*
kohana_old*
dompdf/
