<div class="box submenu">
	<div class="content">
		<ul>
		{{#sidebar_links}}
			<li {{#current}}class="current"{{/current}} {{#extraclass}}class="{{extraclass}}"{{/extraclass}}>
				{{#has_sublinks}}
				<a href="{{url}}">{{name}}</a>
				<ul>
					{{#sub_links}}
						<li {{#sub_current}}class="current"{{/sub_current}}>
							<a href="{{sub_url}}">{{{sub_name}}}</a>
						</li>
					{{/sub_links}}
				</ul>
				{{/has_sublinks}}
				{{^has_sublinks}}
					<a href="{{url}}">{{name}}</a>
				{{/has_sublinks}}
			</li>
		{{/sidebar_links}}
		</ul>
	</div>
</div>