.thumb-highlight {
	border:2px solid #FF0000 !important;
	box-shadow:1px 1px 0 #BAEAFF !important;
}

.thumb-item {
	cursor:pointer;
}

form .section .right {
	text-align:right;
}

.thumb_to_remove img {
	opacity:0.2;
}