{{#display_pagination}}
<section class="pagination">
	<ul class="pagination-buttons">
		{{#pagination_links}}
			<li><a href="{{url}}" {{#class}} class="{{class}}" {{/class}}  >{{nr}}</a></li>
		{{/pagination_links}}
	</ul>
{{#is_results}}		
	<form action="{{post_url}}" method="get" class="results-form">
	
	<div class="results cl">
		<label>Results per page:</label>

		<select name="results-per-page" onchange="window.location.href=this.value" class="select2" style="width:55px;">
			{{#results_nr}}
				<option value="{{url}}" {{selected}}>{{str}}</option>
			{{/results_nr}}
		</select>
	</div>
	
	</form>
{{/is_results}}	
</section>
{{/display_pagination}}