<div class="section">
	<div class="box">
		<div class="title">Workorder Data</div>
		
		<div class="content">
			{{#workorder}}
				<div class="row">
					Policy holder: 
					<div class="right">
						{{first_name}} {{last_name}}
						<br>{{street_address}}
						<br>{{city}}, {{state}} {{zip}}
					</div>
				</div>
				
				<div class="row">
					Inspection Date:
					<div class="right">
						{{date_of_inspection}}
					</div>
				</div>
			{{/workorder}}
		</div>
	</div>
</div>

<div class="section">
	<div class="box">
		<div class="title">Extra invoice data</div>
		
		<div class="content">
			<table cellspacing="0" cellpadding="0" border="0">
				<thead>
					<tr>
						<th>Description</th><th>Amount</th>
					</tr>
				</thead>
				
				<tbody>
				{{#workorder}}
				<tr>
					<td>Base price of the workorder</td>
					<td>{{price}}</td>
				</tr>
				{{/workorder}}
				{{#invoice_meta}}
				<tr>
					<td>{{description}}</td>
					<td>{{amount}}</td>
				</tr>
				{{/invoice_meta}}
				<tr>
					<td>Total</td>
					<td>{{total}}</td>
				</tr>
				</tbody>
			</table>
			
			<div class="row">
				<form action="{{post_url}}" method="post">
					<input type="hidden" name="csrf_token" value="{{csrf_token}}">
					<button type="submit" name="view_pdf" id="view_pdf"><span>View PDF Invoice</span></button>
					<button type="submit" name="send_invoice" id="send_invoice"><span>Send to client</span></button>
				</form>
			</div>
		</div>
	</div>
</div>