<html>
	<head>	
		<style>
			html,body{
				font : 12px/19px Arial;
				color : #333333;
			}		

			p {
				margin : 0;
				padding : 2px 0 0;
			}			
			
			h1 {
				margin : 15px 0 15px;
				padding : 0;
				font : 22px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
				text-transform:uppercase;
			}

			h2 {
				margin : 15px 0 5px;
				padding : 0;
				font : 17px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h3{
				margin : 10px 0 0;
				padding : 0;
				font : 16px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h4{
				margin : 15px 0 0;
				padding : 0;
				font : 15px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h5{
				margin : 15px 0 0;
				padding : 0;
				font : 14px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}			
			
			.logo {
				float:left;
				width: 450px;
			}
			
			.details {
				float:right;
				width: 200px;
			}		

			.roof-first {
				float:left;
				width: 250px;
			}
			
			.roof-second {
				float:left;
				width: 400px;
				margin : 0 0 0 10px;
			}	

			table {
				width : 100%;
				border : 1px solid #e6e6e6;				
			}

			table, td, tr, th {
				padding : 0;
				margin : 0;
				border-collapse : collapse;
				text-align : center;
				border : 1px solid #e6e6e6;					
			}

			table thead tr th, table tfoot tr th {
				color : #1c1c1c;
			}

			table thead {
				background : url(../gfx/box-title.gif) repeat-x right top;
				border-right : none;
			}

			table thead tr th{
				border : 1px solid #e6e6e6;
				padding : 8px 10px 8px;
				line-height : 1.1em;
			}

			table tbody td {
				border : 1px solid #e6e6e6;
				border-top : none;
				padding : 8px 10px;
				line-height : 1.1em;
			}			
		</style>
	</head>
	<body>
		<div class="logo">
			<img src="{{logo_url}}">
		</div>
		
		{{#workorder}}
		<div class="details">
			<p>
				<label for="id">Workorder #: </label>
				<strong>{{id}}</strong>
			</p>	
			<p>
				<label for="inspection_date">Inspection Date: </label>
					<strong>{{date_of_inspection}}</strong>	
			</p>		
		</div>
		
		<div style="clear:both"></div>
		
		<div>
				<h2>Policy holder</h2>
				<p>
					{{first_name}} {{last_name}}
				</p>	
				<p>			
					{{street_address}}
				</p>	
				<p>
					{{state}}, {{city}}, {{zip}}
				</p>	
				<p>
					<strong>{{phone}}</strong>
				</p>	
			</div>
		{{/workorder}}
		
		<div style="clear:both"></div>
		
		<div class="invoice-data">
			<h2>Invoice Data</h2>
			<table cellspacing="0" cellpadding="0" border="0">
				<thead>
					<tr>
						<th>Description</th><th>Amount</th>
					</tr>
				</thead>
				
				<tbody>
				{{#workorder}}
				<tr>
					<td><strong>Base price of the workorder</strong></td>
					<td><strong>{{price}}</strong></td>
				</tr>
				{{/workorder}}
				{{#invoice_meta}}
				<tr>
					<td>{{description}}</td>
					<td>{{amount}}</td>
				</tr>
				{{/invoice_meta}}
				<tr>
					<td><strong>Total</strong></td>
					<td><strong>{{total}}</strong></td>
				</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>