<div class="section">
	<div class="box">
		<div class="title">
			Gallery
			<span class="hide"></span>
		</div>
		<div class="content nopadding">
			<div class="gallery">
			
				{{#photo_thumbnails}}
					<div class="thumb" id="i{{id}}">
						<div class="view"><a href="{{orig_url}}" title="View Photo" class="view_photo"></a></div>
												
						<input type="hidden" name="meta[{{id}}][description]" class="hdn_description" value="{{description}}" />
						<input type="hidden" name="meta[{{id}}][cat_id]" class="hdn_cat_id" value="{{category_id}}" />
						

						<span class="thumb-item" title="{{title}}">
							<img src="{{thumb_url}}" alt="{{original_filename}}" />
						</span>
					</div>					
				{{/photo_thumbnails}}
			</div>
		</div>
	</div>
</div>
		
<div class="section">
	<div class="half">
		<div class="box">
			<div class="title">
				Category
			</div>
			<div class="content">

				{{> categories}}
				
			</div>		

		</div>

	</div>
	<div class="half">
		<div class="box">
			<div class="title">
				Description
			</div>
			<div class="content">
				<div class="row" id="description_area"></div>
			</div>
		</div>			
	</div>
</div>
	
