<div class="section">
	<div class="box">
		<div class="title">Categories</div>
		
		<div class="content">
			
			<ul>
				{{#categories}}
					<li>{{name}}</li>
					{{#has_children}}
						<ul>
						{{#children}}
							<li>&nbsp;--{{name}}</li>
						{{/children}}
						</ul>
					{{/has_children}}
				{{/categories}}
			</ul>
		
		</div>
	</div>
</div>