<div class="section">
	<div class="box">
		<div class="title">General Settings</div>
		
		<div class="content">
			{{#are_settings}}
			<form action="{{post_url}}" method="post">
				<input type="hidden" name="csrf_token" value="{{csrf_token}}">
				
				{{#settings}}
					<div class="row">	
						<label for="{{name}}">{{nice_name}}</label>
						
						<div class="right">
							<textarea name="{{name}}" id="{{name}}" class="grow" style="height:100px;">{{value}}</textarea>

							<p>
								<em><strong>{{description}}</strong></em>
							</p>
						</div>
					</div>
					
					{{#error}}
						<div class="row">
							<div class="right error">
								{{error}}
							</div>
						</div>
					{{/error}}

				{{/settings}}

				<div class="row">
					<div class="right">
						<button type="submit" name="submit"><span>Save changes</span></button>
					</div>
				</div>
			</form>
			{{/are_settings}}
		</div>
	</div>
</div>


