<div class="section">
	<div class="box">
		<div class="title">Change Password</div>
		
		<div class="content" style="width:auto;">
			<form action="{{post_url}}" method="post" accept-charset="utf-8" id="password-reset-form">
				
				<div class="row">
					<label for="password">New Password</label>
					
					<div class="right">
						<input type="password" name="password" id="password">
					</div>	
				</div>
				
				{{#data.error_password}}
					<div class="row">
						<div class="right error">{{data.error_password}}</div>
					</div>
				{{/data.error_password}}
				
				<div class="row">
					<label for="confirm-password">Repeat New Password</label>
					
					<div class="right">
						<input type="password" name="confirm-password" id="confirm-password">
					</div>	
				</div>
				
				{{#data.error_confirm-password}}
					<div class="row">
						<div class="right error">{{data.error_confirm-password}}</div>
					</div>
				{{/data.error_confirm-password}}
				
				<div class="row">	
					<div class="right">
						<input type="hidden" name="csrf_token" value="{{csrf_token}}">
						<button type="submit"><span>Reset Password</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>