<form action="{{post_url}}" method="post" accept-charset="utf-8" id="workorder-submit-form">
	
	<div class="section">
		<div class="box">
			<div class="title">User</div>
			
			<div class="content">
			
				<div class="row">
					<label for="role">Usertype</label>

					<div class="right">
						<select name="role_id" class="{validate:{required:true, messages:{required:'Select one option'}}}">
						{{#roles}}
							<option value="{{id}}" {{#selected}} selected="selected" {{/selected}}>{{name}}</option>
						{{/roles}}	
						</select>
					</div>
				</div>				
				
				<div class="row">
					<label for="first_name">First Name</label>
					
					<div class="right">
						<input type="text" name="first_name" id="first_name" value="{{data.first_name}}">
					</div>	
				</div>
				
				{{#errors.first_name}}
					<div class="row">
						<div class="right error">
							{{errors.first_name}}
						</div>
					</div>
				{{/errors.first_name}}
				
				<div class="row">
					<label for="last_name">Last Name</label>
					
					<div class="right">
						<input type="text" name="last_name" id="last_name" value="{{data.last_name}}">
					</div>	
				</div>
				
				{{#errors.last_name}}
					<div class="row">
						<div class="right error">
							{{errors.last_name}}
						</div>
					</div>
				{{/errors.last_name}}
				
				<div class="row">
					<label for="phone">Phone Number</label>
					
					<div class="right">
						<input type="text" name="phone" id="phone" value="{{data.phone}}">
					</div>	
				</div>
				
				{{#errors.phone}}
					<div class="row">
						<div class="right error">
							{{errors.phone}}
						</div>
					</div>
				{{/errors.phone}}
				
				<div class="row">
					<label for="geographic_region">Geaographical Region</label>
					
					<div class="right">
						<input type="text" name="geographic_region" id="geographic_region" value="{{data.geographic_region}}">
					</div>	
				</div>
				
				{{#errors.geographic_region}}
					<div class="row">
						<div class="right error">
							{{errors.geographic_region}}
						</div>
					</div>
				{{/errors.geographic_region}}
				
				<div class="row">
					<label for="username">Username</label>

					<div class="right">
						<input type="text" name="username" id="username" value="{{data.username}}">
					</div>
				</div>

				{{#errors.username}}
					<div class="row">
						<div class="right error">
							{{errors.username}}
						</div>
					</div>
				{{/errors.username}}
			
				<div class="row">
				
					<label for="email">E-mail</label>
				
					<div class="right">
						<input type="text" name="email" id="email" value="{{data.email}}">
					</div>
				</div>

				{{#errors.email}}
					<div class="row">
						<div class="right error">
							{{errors.email}}
						</div>
					</div>
				{{/errors.email}}	

				<div id="insurance_company_field" class="row">
					<label for="insurance_company">Insurance Company</label>
					
					<div class="right">
						<input type="text" name="insurance_company" id="insurance_company" value="{{data.insurance_company}}">
					</div>	
				</div>			
				
				<div class="row">
				
					<label for="password">Password</label>
				
					<div class="right">	
						<input type="password" name="password" id="password">
					</div>
				</div>

				{{#errors.password}}
					<div class="row">
						<div class="right error">
							{{errors.password}}
						</div>
					</div>
				{{/errors.password}}
				
				<div class="row">
				
					<label for="confirm-password">Confirm Password</label>
				
					<div class="right">	
						<input type="password" name="confirm-password" id="confirm-password">
					</div>
				</div>

				{{#errors.confirm_password}}
					<div class="row">
						<div class="right error">
							{{errors.confirm_password}}
						</div>
					</div>
				{{/errors.confirm_password}}				

				<div class="row">
					<input type="hidden" name="csrf_token" value="{{csrf_token}}">
					<div class="right">
						<button type="submit"><span>Submit</span></button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</form>	