<form action="{{post_url}}" method="post" accept-charset="utf-8" id="comments-form">
	<div class="section hide-print">
		<div class="box">
			<div class="title">Comments</div>
			
			<div class="content">	
				{{#messages}}
					<div class="row">
						<div>
							<strong>{{from_username}}</strong> - {{date_time_utc}}
						</div>
						<div>
							{{message}}
						</div>
					</div>			
				{{/messages}}
				
				<div class="row">
					<label for="message">Message: </label>

					<div class="right">
						<textarea name="message"></textarea>
					</div>

					{{#errors.message}}
						<div class="row">
							<div class="right error">
								{{errors.message}}
							</div>
						</div>
					{{/errors.message}}	
				</div>

				<div class="row">
					<input type="hidden" name="csrf_token" value="{{csrf_token}}">
					<div class="right">
						<button type="submit" name="only_comment"><span>Comment</span></button>
					</div>
				</div>			
			</div>
		</div>
	</div>
</form>