<div class="section">
	{{#show_add_new}}
	<div>&nbsp;</div>
	<div class="content">
		<a href="{{add_url}}">Submit New</a>
	</div>
	{{/show_add_new}}	
	<div class="box">
		<div class="title">
			Workorders
			<span class="hide"></span>
		</div>
		
		<div class="content">
			<table cellspacing="0" cellpadding="0" border="0" class="all"> 
				<thead> 
					<tr>
						<th>ID Num.</th>
						<th>Status</th>
						<th>Insured</th>
						<th>Adjuster Name</th>
						<th>Policy Number</th>
						<th>Inspector Name</th>
						<th>Date of inspection</th>
						<th>Progress State</th>
						<th>Date Created</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{{#workorders}}
					<tr>
						<td>{{id}}</td>
						<td>{{status_name}}</td>
						<td>{{first_name}} {{last_name}}</td>
						<td>{{client_name}}</td>
						<td>{{policy_number}}</td>
						<td>{{inspector_name}}</td>
						<td>{{date_of_inspection}}</td>
						<td>{{inspection_status_name}}</td>
						<td>{{created_on_utc}}</td>
						<td>
							
							<select name="wo-actions" class="wo-actions wo-links">
								<option value="{{view_url}}/{{id}}">View</option>
								
								{{#edit_url}}
								<option value="{{edit_url}}/{{id}}">Edit</option>
								{{/edit_url}}
								
								{{#inspection_form_url}}
								<option value="{{inspection_form_url}}/{{id}}">Inspection Form</option>
								{{/inspection_form_url}}
								
								{{#estimates_url}}
								<option value="{{estimates_url}}/{{id}}">Estimates</option>
								{{/estimates_url}}
								
								{{#photos_url}}
								<option value="{{photos_url}}/{{id}}">Photos</option>
								{{/photos_url}}
								
								{{#invoice_url}}
								<option value="{{invoice_url}}/{{id}}">Edit Invoice</option>
								{{/invoice_url}}
								
								{{#generate_url}}
								<option value="{{generate_url}}/{{id}}">Generate Invoice</option>
								{{/generate_url}}
								
								{{#show_report}}
								<option value="{{report_url}}/{{id}}">Report</option>
								{{/show_report}}
													
							</select>
						
						</td>
					</tr>
				{{/workorders}}
				</tbody>
			</table>
		</div>
	</div>
</div>
			