<div class="section">
	<div class="box">
		<div class="title">Details</div>
		<div class="content">	
			<div class="row">
				<label for="id">Inspection #: </label>
				<div class="right">
					<strong>{{workorder_data.id}}</strong>
				</div>
			</div>		
	
			<div class="row">	
				<label for="inspection_date">Inspection Date/ Time: </label>
				<div class="right">
					<strong>{{workorder_data.date_of_inspection}}&nbsp;{{#workorder_data.time_of_inspection}}/ {{workorder_data.time_of_inspection}}{{/workorder_data.time_of_inspection}}</strong>
				</div>
			</div>		
					
		</div>
	</div>
</div>	

<div class="section">
	<div class="box">
		<div class="title">Policy Holder</div>
		<div class="content">
			<div>
					Policy#: {{workorder_data.policy_number}}
			</div>
			
			<div>
				{{workorder_data.first_name}} {{workorder_data.last_name}}
			</div>

			<div>
				{{workorder_data.street_address}}<br>
				{{workorder_data.state}}, {{workorder_data.city}}, {{workorder_data.zip}}<br>
				<strong>{{workorder_data.phone}}</strong><br>
				<strong>{{workorder_data.phone2}}</strong>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="box">
		<div class="title">Adjuster Information</div>
		<div class="content">
			<div>
				{{adjuster.first_name}} {{adjuster.last_name}}
			</div>
			<div>
				{{adjuster.phone}}
			</div>	
			<div>
				{{adjuster.insurance_company}}
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="box">
		<div class="title">General</div>
		<div class="content">
		
			<div class="row">
				<label for="was_client_present">Was Client Present: </label>
				<div class="right">
					<strong>{{inspection_data.was_insured_present}}&nbsp;</strong>
				</div>
			</div>	

			<div class="row">
				<label for="roof_access">Did you walked on roof: </label>
				<div class="right">
					<strong>{{inspection_data.roof_access}}&nbsp;</strong>
				</div>
			</div>				
		</div>
	</div>
</div>
	

<div class="section">
	<div class="box">
		<div class="title">Roof Information</div>
		<div class="content">
		
			<div class="row">
				<label for="roof_square_feet">Roof Square Feet: </label>
				<div class="right">
					<strong>{{inspection_data.roof_square_feet}}&nbsp;</strong>
				</div>
			</div>					
		
			<div class="row">
				<label for="age">Age: </label>
				<div class="right">
					<strong>{{inspection_data.estimated_age_of_roof}}&nbsp;</strong>
				</div>
			</div>		

			<div class="row">
				<label for="type_of_framing">Framing Type: </label>
				<div class="right">
					<strong>{{inspection_data.type_of_framing}}&nbsp;</strong>
				</div>
			</div>		

			<div class="row">
				<label for="layers">Layers: </label>
				<div class="right">
					<strong>{{inspection_data.layers}}&nbsp;</strong>
				</div>
			</div>	

			<div class="row">
				<label for="condition">Condition: </label>
				<div class="right">
					<strong>{{inspection_data.condition}}&nbsp;</strong>
				</div>
			</div>				

			<div class="row">
				<label for="roof_height">Height: </label>
				<div class="right">
					<strong>{{inspection_data.roof_height}}&nbsp;</strong>
				</div>
			</div>					
			
			<div class="row">
				<label for="pitch_1">Pitch 1: </label>
				<div class="right">
					<strong>{{inspection_data.pitch_1}}&nbsp;</strong>
				</div>
			</div>			
			<div class="row">
				<label for="pitch_2">Pitch 2: </label>
				<div class="right">
					<strong>{{inspection_data.pitch_2}}&nbsp;</strong>
				</div>
			</div>	

			<div class="row">
				<label for="pitch_3">Pitch 3: </label>
				<div class="right">
					<strong>{{inspection_data.pitch_3}}&nbsp;</strong>
				</div>
			</div>			

			<div class="row">
				<label for="type_of_roofing">Roofing type: </label>
				<div class="right">
					<strong>{{inspection_data.type_of_roofing}}&nbsp;</strong>
				</div>
			</div>				

			<div class="row">
				<label for="previous_repairs_made">Prior repairs: </label>
				<div class="right">
					<strong>{{inspection_data.previous_repairs_made}}&nbsp;</strong>
				</div>
			</div>	
			
			<div class="row">
				<label for="collateral_damages_to_property">Collateral Demages Of Property: </label>
				<div class="right">
					<strong>{{inspection_data.collateral_damages_to_property}}&nbsp;</strong>
				</div>
			</div>		
			
			<div class="row">
				<label for="collateral_damage_detail_description">Collateral Demages Detail Description: </label>
				<div class="right">
					<strong>{{inspection_data.collateral_damage_detail_description}}&nbsp;</strong>
				</div>
			</div>					
		</div>
	</div>
</div>

<div class="section">
	<div class="box">
		<div class="title">Reason for inspection</div>
	</div>
</div>	

{{#inspection_data.wind}}	
<div class="section">
	<div class="box">
		<div class="title">Wind</div>
		<div class="content">
		
			<div class="row">
				<label for="roof_square_feet">Shingles damaged: </label>
				<div class="right">
					<strong>{{inspection_data.wind_shingles_damaged}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.wind_shingles_damaged_slope}}&nbsp;</strong>
				</div>				
			</div>	
			{{#inspection_data.wind_roof_peeled_back}}
			<div class="row">
				<label for="roof_square_feet">Roof Peeled Back: </label>
				<div class="right">
					<strong>{{inspection_data.wind_roof_peeled_back}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.wind_roof_peeled_back_slope}}&nbsp;</strong>
				</div>					
			</div>
			{{/inspection_data.wind_roof_peeled_back}}			
		</div>
	</div>	
</div>
{{/inspection_data.wind}}

{{#inspection_data.hail}}
<div class="section">
	<div class="box">
		<div class="title">Hail</div>
		<div class="content">
		
			<div class="row">
				<label for="amount_damaged">Ammount damaged: </label>
				<div class="right">
					<strong>{{inspection_data.hail_amount_damaged}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.hail_amount_damaged_slope}}&nbsp;</strong>
				</div>				
			</div>			
		
	</div>
</div>
{{/inspection_data.hail}}

{{#inspection_data.lightning}}
<div class="section">
	<div class="box">
		<div class="title">Lightning</div>
		<div class="content">
			{{#inspection_data.lightning_amount_damaged}}
			<div class="row">
				<label for="amount_damaged">Ammount damaged: </label>
				<div class="right">
					<strong>{{inspection_data.lightning_amount_damaged}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.lightning_amount_damaged_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.lightning_amount_damaged}}
			{{#inspection_data.lightning_damages}}
			<div class="row">				
				<label for="damages">Damages: </label>
				<div class="right">
					<strong>{{inspection_data.lightning_damages}}&nbsp;</strong>
				</div>
			</div>	
			{{/inspection_data.lightning_damages}}			
	</div>
</div>
{{/inspection_data.lightning}}

{{#inspection_data.vermin}}
<div class="section">
	<div class="box">
		<div class="title">Vermin</div>
		<div class="content">
			{{#inspection_data.vermin_roofing_damage}}
			<div class="row">
				<label for="roofing_damage">Roofing Damage: </label>
				<div class="right">
					<strong>{{inspection_data.vermin_roofing_damage}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.vermin_roofing_damage_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.vermin_roofing_damage}}
			{{#inspection_data.vermin_fascia_damage}}
			<div class="row">
				<label for="fascia_damage">Fascia Damage: </label>
				<div class="right">
					<strong>{{inspection_data.vermin_fascia_damage}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.vermin_fascia_damage_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.vermin_fascia_damage}}
			{{#inspection_data.vermin_vent_damage}}
			<div class="row">
				<label for="vent_damage">Vent Damage: </label>
				<div class="right">
					<strong>{{inspection_data.vermin_vent_damage}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.vermin_vent_damage_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.vermin_vent_damage}}			
		</div>
	</div>
</div>		
{{/inspection_data.vermin}}

{{#inspection_data.vandalism}}
<div class="section">
	<div class="box">
		<div class="title">Vermin</div>
		<div class="content">
			{{#inspection_data.vandalism_skylights}}
			<div class="row">
				<label for="skylights">Skylights: </label>
				<div class="right">
					<strong>{{inspection_data.vandalism_skylights}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.vandalism_skylights_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.vandalism_skylights}}
			{{#inspection_data.vandalism_roof_decking_cut}}
			<div class="row">
				<label for="fascia_damage">Roof/decking cut: </label>
				<div class="right">
					<strong>{{inspection_data.vandalism_roof_decking_cut}}&nbsp;</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.vandalism_roof_decking_cut_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.vandalism_roof_decking_cut}}			
		</div>
	</div>
</div>		
{{/inspection_data.vandalism}}

{{#inspection_data.ice}}
<div class="section">
	<div class="box">
		<div class="title">Ice</div>
		<div class="content">
			{{#inspection_data.ice_damming}}
			<div class="row">
				<label for="ice_damming">Ice damming: </label>
				<div class="right">
					<strong>Ice damming</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.ice_damming_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.ice_damming}}			
			{{#inspection_data.ice_fallen_ice}}
			<div class="row">
				<label for="fallen_ice">Ice damming: </label>
				<div class="right">
					<strong>Fallen Ice</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.ice_fallen_ice_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.ice_fallen_ice}}				
		</div>
	</div>
</div>		
{{/inspection_data.ice}}

{{#inspection_data.appliances}}
<div class="section">
	<div class="box">
		<div class="title">Appliances</div>
		<div class="content">
			{{#inspection_data.appliances_skylights}}
			<div class="row">
				<label for="appliances_skylights">Skylights: </label>
				<div class="right">
					<strong>{{inspection_data.appliances_skylights}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.appliances_skylights_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.appliances_skylights}}			
			
			{{#inspection_data.appliances_antenna_sattelite_dish}}
			<div class="row">
				<label for="appliances_antenna_sattelite_dish">Antenna/satellite dish: </label>
				<div class="right">
					<strong>{{inspection_data.appliances_antenna_sattelite_dish}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.appliances_antenna_sattelite_dish_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.appliances_antenna_sattelite_dish}}

			{{#inspection_data.appliances_ac_units}}
			<div class="row">
				<label for="appliances_ac_units">A/C Units: </label>
				<div class="right">
					<strong>{{inspection_data.appliances_ac_units}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.appliances_ac_units_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.appliances_ac_units}}			
		</div>
	</div>
</div>		
{{/inspection_data.appliances}}


{{#inspection_data.fallen_tree}}
<div class="section">
	<div class="box">
		<div class="title">Fallen Tree</div>
		<div class="content">
			{{#inspection_data.fallen_tree_amount_of_damage}}
			<div class="row">
				<label for="fallen_tree_amount_of_damage">Amount of Damage: </label>
				<div class="right">
					<strong>{{inspection_data.fallen_tree_amount_of_damage}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.fallen_tree_amount_of_damage_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.fallen_tree_amount_of_damage}}
			{{#inspection_data.fallen_tree_damages}}			
			<div class="row">			
				<label for="fallen_tree_damages">Damages: </label>
				<div class="right">
					<strong>{{inspection_data.fallen_tree_damages}}</strong>
				</div>			
			</div>
			{{/inspection_data.fallen_tree_damages}}			
		</div>
	</div>
</div>		
{{/inspection_data.fallen_tree}}

{{#inspection_data.excess_debris}}
<div class="section">
	<div class="box">
		<div class="title">Excess Debris</div>
		<div class="content">
			{{#inspection_data.excess_debris_location}}
			<div class="row">
				<label for="excess_debris_location">Location: </label>
				<div class="right">
					<strong>{{inspection_data.excess_debris_location}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.excess_debris_location_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.excess_debris_location}}		
		</div>
	</div>
</div>		
{{/inspection_data.excess_debris}}

{{#inspection_data.standing_water}}
<div class="section">
	<div class="box">
		<div class="title">Standing Water</div>
		<div class="content">
			{{#inspection_data.standing_water_select}}
			<div class="row">
				<label for="standing_water_select">Standing Water: </label>
				<div class="right">
					<strong>{{inspection_data.standing_water_select}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.standing_water_select_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.standing_water_select}}		
		</div>
	</div>
</div>		
{{/inspection_data.standing_water}}

{{#inspection_data.product_defects}}
<div class="section">
	<div class="box">
		<div class="title">Product Defects</div>
		<div class="content">
			{{#inspection_data.product_defects_asphalt_coating}}
			<div class="row">
				<label for="product_defects">Asphalt Coating: </label>
				<div class="right">
					<strong>{{inspection_data.product_defects_asphalt_coating}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.product_defects_asphalt_coating_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.product_defects_asphalt_coating}}		
			
			{{#inspection_data.product_defects_blistering}}
			<div class="row">
				<label for="product_defects">Blistering: </label>
				<div class="right">
					<strong>{{inspection_data.product_defects_blistering}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.product_defects_blistering_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.product_defects_blistering}}	

			{{#inspection_data.product_defects_flaking}}
			<div class="row">
				<label for="product_defects">Flaking: </label>
				<div class="right">
					<strong>{{inspection_data.product_defects_flaking}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.product_defects_flaking_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.product_defects_flaking}}				
		</div>
	</div>
</div>		
{{/inspection_data.product_defects}}

{{#inspection_data.workmanship}}
<div class="section">
	<div class="box">
		<div class="title">Workmanship/Improper Installation</div>
		<div class="content">
			{{#inspection_data.workmanship_improper_nailing}}
			<div class="row">
				<label for="workmanship_improper_nailing">Improper Nailing: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_improper_nailing}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_improper_nailing_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_improper_nailing}}		
			
			{{#inspection_data.workmanship_improper_overlap}}
			<div class="row">
				<label for="workmanship_improper_overlap">Improper Overlap: </label>
				<div class="right">
					<strong>Improper Overlap</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_improper_overlap_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_improper_overlap}}	

			{{#inspection_data.workmanship_flashing}}
			<div class="row">
				<label for="workmanship_flashing">Flashing: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_flashing}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_flashing_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_flashing}}			

			{{#inspection_data.workmanship_flashing_missing}}
			<div class="row">
				<label for="workmanship_flashing_missing">Flashing Missing: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_flashing_missing}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_flashing_missing_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_flashing_missing}}			

			{{#inspection_data.workmanship_venting}}
			<div class="row">
				<label for="workmanship_venting">Venting: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_venting}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_venting_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_venting}}		
	
			{{#inspection_data.workmanship_incorrect_materials}}
			<div class="row">
				<label for="workmanship_incorrect_materials">Incorrect Materials: </label>
				<div class="right">
					<strong>Incorrect Materials</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_incorrect_materials_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_incorrect_materials}}		

			{{#inspection_data.workmanship_excessive_layers}}
			<div class="row">
				<label for="workmanship_excessive_layers">Excessive Layers: </label>
				<div class="right">
					<strong>Excessive Layers</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_excessive_layers_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_excessive_layers}}	

			{{#inspection_data.workmanship_sub_par_deck}}
			<div class="row">
				<label for="workmanship_sub_par_deck">Sub Par Deck: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_sub_par_deck}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.workmanship_sub_par_deck_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.workmanship_sub_par_deck}}				

			{{#inspection_data.workmanship_other}}
			<div class="row">
				<label for="workmanship_other">Other: </label>
				<div class="right">
					<strong>{{inspection_data.workmanship_comments}}</strong>
				</div>		
			</div>			
			{{/inspection_data.workmanship_other}}						
			
		</div>
	</div>
</div>		
{{/inspection_data.workmanship}}

{{#inspection_data.aged_worn}}
<div class="section">
	<div class="box">
		<div class="title">Aged/Worn</div>
		<div class="content">
			{{#inspection_data.aged_worn_check_that_apply}}
			<div class="row">
				<label for="aged_worn_check_that_apply">Aged/Worn: </label>
				<div class="right">
					<strong>{{inspection_data.aged_worn_check_that_apply}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.aged_worn_check_that_apply_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.aged_worn_check_that_apply}}		
		</div>
	</div>
</div>		
{{/inspection_data.aged_worn}}

{{#inspection_data.fire_damages}}
<div class="section">
	<div class="box">
		<div class="title">Fire Damages</div>
		<div class="content">
			{{#inspection_data.fire_damages_check_that_apply}}
			<div class="row">
				<label for="fire_damages_check_that_apply">Fire Damages: </label>
				<div class="right">
					<strong>{{inspection_data.fire_damages_check_that_apply}}</strong>
				</div>
				<div class="right">
					<strong>Slopes: {{inspection_data.fire_damages_check_that_apply_slope}}&nbsp;</strong>
				</div>				
			</div>			
			{{/inspection_data.fire_damages_check_that_apply}}		
		</div>
	</div>
</div>		
{{/inspection_data.fire_damages}}

{{#inspection_data.general_comments}}
<div class="section">
	<div class="box">
		<div class="title">General Comments</div>
		<div class="content">
			<div class="row">
				<div class="right">
					<strong>{{inspection_data.general_comments}}</strong>
				</div>		
			</div>			
		</div>
	</div>
</div>		
{{/inspection_data.general_comments}}

<div class="section">
	<div class="box">
		<div class="title">
			Gallery
			<span class="hide"></span>
		</div>
		<div class="content nopadding">
		
			<div class="gallery">
				{{#photos}}
				<div class="thumb">
					<div class="hover"><a href="#"></a></div>
					<a href="{{orig_url}}" class="pirobox" rel="single" title=""><img src="{{thumb_url}}" alt="Photo" /></a>
				</div>
				{{/photos}}
			</div>
		</div>
	</div>
</div>	

<div class="section">
	<div class="box">
		<div class="title">REPAIR ESTIMATE</div>
		<div class="content">
			<div class="row">
				<table>
					<col width="550"></col>
					<col width="150"></col>
					
					<thead> 
						<tr>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					{{#estimates}}
					<tr>
						<td>
							{{description}}
						</td>
						<td>
							{{amount}} $
						</td>				
					</tr>
					{{/estimates}}
					<tr>
						<td>
							<strong>Total:</strong>
						</td>
						<td>
							{{#total_estimates}}<strong>{{total_estimates}} $</strong>{{/total_estimates}}
						</td>						
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>	



