<html>
	<head>
		<style>
			html,body{
				font : 12px/19px Arial;
				color : #333333;
			}		

			p {
				margin : 0;
				padding : 2px 0 0;
			}			
			
			h1 {
				margin : 15px 0 15px;
				padding : 0;
				font : 22px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
				text-transform:uppercase;
			}

			h2 {
				margin : 15px 0 5px;
				padding : 0;
				font : 17px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h3{
				margin : 10px 0 0;
				padding : 0;
				font : 16px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h4{
				margin : 15px 0 0;
				padding : 0;
				font : 15px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}

			h5{
				margin : 15px 0 0;
				padding : 0;
				font : 14px/1.1em Arial;
				font-weight : normal;
				color : #64001f;
			}			
			
			.logo {
				float:left;
				width: 450px;
			}
			
			.details {
				float:right;
				width: 250px;
			}		

			.roof-first {
				float:left;
				width: 300px;
			}
			
			.roof-second {
				float:left;
				width: 300px;
				margin : 0 0 0 10px;
			}	

			.insured-info {
				float:left;
				width: 420px;
			}
			
			.adjuster-info {
				float:left;
				width: 200px;
				margin : 0 0 0 10px;
			}				
			
			table {
				width : 100%;
				border : 1px solid #e6e6e6;				
			}

			table, td, tr, th {
				padding : 0;
				margin : 0;
				border-collapse : collapse;
				text-align : center;
				border : 1px solid #e6e6e6;					
			}

			table thead tr th, table tfoot tr th {
				color : #1c1c1c;
			}

			table thead {
				background : url(../gfx/box-title.gif) repeat-x right top;
				border-right : none;
			}

			table thead tr th{
				border : 1px solid #e6e6e6;
				padding : 8px 10px 8px;
				line-height : 1.1em;
			}

			table tbody td {
				border : 1px solid #e6e6e6;
				border-top : none;
				padding : 8px 10px;
				line-height : 1.1em;
			}		
			
			.photo {
				height:450px;
			}
			
		</style>
	</head>
	<body>
	{{#data_pages}}
			<div class="logo">
				<img src="{{logo_url}}">
			</div>
			<div class="details">
				<p>
					<label for="id">Inspection #: </label>
					<strong>{{workorder_data.id}}</strong>
				</p>	
				<p>
					<label for="inspection_date">Inspection Date/ Time: </label>
						<strong>{{workorder_data.date_of_inspection}} {{#workorder_data.time_of_inspection}}/ {{workorder_data.time_of_inspection}}{{/workorder_data.time_of_inspection}}</strong>	
				</p>		
			</div>
			
			<div style="clear:both"></div>

			<div class="insured-info">
				<h2>Policy Holder</h2>
				<p>
					Policy#: {{workorder_data.policy_number}}
				</p>
				<p>
					{{workorder_data.first_name}} {{workorder_data.last_name}}
				</p>	
				<p>			
					{{workorder_data.street_address}}
				</p>	
				<p>
					{{workorder_data.state}}, {{workorder_data.city}}, {{workorder_data.zip}}
				</p>	
				<p>
					<strong>{{workorder_data.phone}}</strong><br>
					<strong>{{workorder_data.phone2}}</strong>
				</p>	
			</div>
			
			<div class="adjuster-info">
				<h2>Adjuster</h2>
				<p>
					{{adjuster.first_name}} {{adjuster.last_name}}
				</p>
				<p>
					{{adjuster.phone}}
				</p>	
				<p>
					{{adjuster.insurance_company}}
				</p>
			</div>
			
			<div style="clear:both"></div>

			<div>
				<h2>General</h2>
				<p>
					<label for="was_client_present">Was Client Present: </label>
					<strong>{{inspection_data.was_insured_present}}</strong>
				</p>
				<p>
					<label for="roof_access">Did you walked on roof: </label>
					<strong>{{inspection_data.roof_access}}</strong>
				</p>				
			</div>	
				
			<div>
				<h2>Roof Information</h2>
			</div>	
			<div class="roof-first">
				<p>
					<label for="roof_square_feet">Roof Square Feet: </label>
					<strong>{{inspection_data.roof_square_feet}}</strong>
				</p>

				<p>
					<label for="age">Age: </label>
					<strong>{{inspection_data.estimated_age_of_roof}}</strong>
				</p>	

				<p>
					<label for="type_of_framing">Framing Type: </label>
					<strong>{{inspection_data.type_of_framing}}</strong>
				</p>	
				
				<p>
					<label for="layers">Layers: </label>
					<strong>{{inspection_data.layers}}</strong>
				</p>	

				<p>
					<label for="conditions">Condition: </label>
					<strong>{{inspection_data.condition}}</strong>
				</p>
			</div>
			
			<div class="roof-second">
				<p>
					<label for="height">Height: </label>
					<strong>{{inspection_data.roof_height}}</strong>
				</p>	

				<p>
					<label for="pitch1">Pitch 1: </label>
					<strong>{{inspection_data.pitch_1}}</strong>
					&nbsp;
					<label for="pitch2">Pitch 2: </label>
					<strong>{{inspection_data.pitch_2}}</strong>
					&nbsp;
					<label for="pitch3">Pitch 3: </label>
					<strong>{{inspection_data.pitch_3}}</strong>
				</p>	

				<p>
					<label for="type_of_roofing">Roofing type: </label>
					<strong>{{inspection_data.type_of_roofing}}</strong>
				</p>	

				<p>
					<label for="previous_repairs_made">Prior repairs: </label>
					<strong>{{inspection_data.previous_repairs_made}}</strong>
				</p>	
			</div>
			<div style="clear:both"></div>			
			<div>
				<p>
					<label for="collateral_damages_to_property">Collateral Demages Of Property: </label>
					<strong>{{inspection_data.collateral_damages_to_property}}</strong>
				</p>	

				<p>
					<label for="collateral_damage_detail_description">Collateral Demages Detail Description: </label>
					<strong>{{inspection_data.collateral_damage_detail_description}}&nbsp;</strong>
				</p>	
			</div>	

		{{#inspection_data.general_comments}}
		<div>
			<h2>General Comments</h2>
			<p>
				<strong>{{inspection_data.general_comments}}</strong>
			</p>
		</div>		
		{{/inspection_data.general_comments}}

		<div>
				<h1>Reason(s) for inspection</h1>
		</div>	

		{{#inspection_data.wind}}	
		<div>
			<h2>Wind</h2>
				<div class="roof-first">
					<p>
						<label for="roof_square_feet">Shingles damaged: </label>
						<strong>{{inspection_data.wind_shingles_damaged}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.wind_shingles_damaged_slope}}</strong></p>
				</div>				
				{{#inspection_data.wind_roof_peeled_back}}
					<div class="roof-first">
						<p>
							<label for="roof_square_feet">Roof Peeled Back: </label>
							<strong>{{inspection_data.wind_roof_peeled_back}}</strong>
						</p>
					</div>
					<div class="roof-second">
						<p>Slopes: <strong>{{inspection_data.wind_roof_peeled_back_slope}}</strong></p>
					</div>
				{{/inspection_data.wind_roof_peeled_back}}			
		</div>	
		{{/inspection_data.wind}}

		{{#inspection_data.hail}}
		<div>
			<h2>Hail</h2>
				<div class="roof-first">
					<p>
						<label for="roof_square_feet">Ammount damaged: </label>
						<strong>{{inspection_data.hail_amount_damaged}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.hail_amount_damaged_slope}}</strong></p>
				</div>		
		</div>
		{{/inspection_data.hail}}
			
		{{#inspection_data.lightning}}
		<div>
			<h2>Lightning</h2>
				{{#inspection_data.lightning_amount_damaged}}
				<div class="roof-first">
					<p>
						<label>Ammount damaged: </label>
						<strong>{{inspection_data.lightning_amount_damaged}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.lightning_amount_damaged_slope}}</strong></p>
				</div>		
				{{/inspection_data.lightning_amount_damaged}}
				
				{{#inspection_data.lightning_damages}}
				<div class="roof-first">
					<p>
						<label>Damages: </label>
						<strong>{{inspection_data.lightning_damages}}</strong>
					</p>
				</div>
				{{/inspection_data.lightning_damages}}			
		</div>	
		{{/inspection_data.lightning}}	

		{{#inspection_data.vermin}}
		<div>
			<h2>Vermin</h2>
				{{#inspection_data.vermin_roofing_damage}}
				<div class="roof-first">
					<p>
						<label>Roofing Damage: </label>
						<strong>{{inspection_data.vermin_roofing_damage}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.vermin_roofing_damage_slope}}</strong></p>
				</div>		
				{{/inspection_data.vermin_roofing_damage}}
				
				{{#inspection_data.vermin_fascia_damage}}
				<div class="roof-first">
					<p>
						<label>Fascia Damage: </label>
						<strong>{{inspection_data.vermin_fascia_damage}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.vermin_fascia_damage_slope}}</strong></p>
				</div>					
				{{/inspection_data.vermin_fascia_damage}}		
				
				{{#inspection_data.vermin_vent_damage}}
				<div class="roof-first">
					<p>
						<label>Vent Damage: </label>
						<strong>{{inspection_data.vermin_vent_damage}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.vermin_vent_damage_slope}}</strong></p>
				</div>					
				{{/inspection_data.vermin_vent_damage}}					
				
		</div>	
		{{/inspection_data.vermin}}			
		
		{{#inspection_data.vandalism}}
		<div>
			<h2>Vandalism</h2>
				{{#inspection_data.vandalism_skylights}}
				<div class="roof-first">
					<p>
						<label>Skylights: </label>
						<strong>{{inspection_data.vandalism_skylights}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.vandalism_skylights_slope}}</strong></p>
				</div>		
				{{/inspection_data.vandalism_skylights}}
				
				{{#inspection_data.vandalism_roof_decking_cut}}
				<div class="roof-first">
					<p>
						<label>Roof/decking cut: </label>
						<strong>{{inspection_data.vandalism_roof_decking_cut}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.vandalism_roof_decking_cut_slope}}</strong></p>
				</div>					
				{{/inspection_data.vandalism_roof_decking_cut}}					
		</div>	
		{{/inspection_data.vandalism}}		
	
		{{#inspection_data.ice}}
		<div>
			<h2>Ice</h2>
				{{#inspection_data.ice_damming}}
				<div class="roof-first">
					<p>
						<label>Ice Damming: </label>
						<strong>Ice Damming</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.ice_damming_slope}}</strong></p>
				</div>		
				{{/inspection_data.ice_damming}}		
				
				{{#inspection_data.ice_fallen_ice}}
				<div class="roof-first">
					<p>
						<label>Fallen Ice: </label>
						<strong>Fallen Ice</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong> {{inspection_data.ice_fallen_ice_slope}}</strong></p>
				</div>					
				{{/inspection_data.ice_fallen_ice}}					
		</div>	
		{{/inspection_data.ice}}


		{{#inspection_data.appliances}}
		<div>
			<h2>Appliances</h2>
				{{#inspection_data.appliances_skylights}}
				<div class="roof-first">
					<p>
						<label>Skylights: </label>
						<strong>{{inspection_data.appliances_skylights}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.appliances_skylights_slope}}</strong></p>
				</div>		
				{{/inspection_data.appliances_skylights}}	
				
				{{#inspection_data.appliances_antenna_sattelite_dish}}
				<div class="roof-first">
					<p>
						<label>Antenna/satellite dish: </label>
						<strong>{{inspection_data.appliances_antenna_sattelite_dish}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong> {{inspection_data.appliances_antenna_sattelite_dish_slope}}</strong></p>
				</div>					
				{{/inspection_data.appliances_antenna_sattelite_dish}}		

				{{#inspection_data.appliances_ac_units}}
				<div class="roof-first">
					<p>
						<label>A/C Units: </label>
						<strong>{{inspection_data.appliances_ac_units}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong> {{inspection_data.appliances_ac_units}}</strong></p>
				</div>					
				{{/inspection_data.appliances_ac_units}}			
				
		</div>	
		{{/inspection_data.appliances}}
		

		{{#inspection_data.fallen_tree}}
		<div>
			<h2>Fallen Tree</h2>
				{{#inspection_data.fallen_tree_amount_of_damage}}
				<div class="roof-first">
					<p>
						<label>Amount of Damage: </label>
						<strong>{{inspection_data.fallen_tree_amount_of_damage}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.fallen_tree_amount_of_damage_slope}}</strong></p>
				</div>		
				{{/inspection_data.fallen_tree_amount_of_damage}}
				
				{{#inspection_data.fallen_tree_damages}}	
				<div class="roof-first">
					<p>
						<label>Damages: </label>
						<strong>{{inspection_data.fallen_tree_damages}}</strong>
					</p>
				</div>				
				{{/inspection_data.fallen_tree_damages}}						
		</div>	
		{{/inspection_data.fallen_tree}}

		{{#inspection_data.excess_debris}}
		<div>
			<h2>Excess Debris</h2>
				{{#inspection_data.excess_debris_location}}
				<div class="roof-first">
					<p>
						<label>Location: </label>
						<strong>{{inspection_data.excess_debris_location}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.excess_debris_location_slope}}</strong></p>
				</div>		
				{{/inspection_data.excess_debris_location}}		
		</div>	
		{{/inspection_data.excess_debris}}


		
		{{#inspection_data.standing_water}}
		<div>
			<h2>Standing Water</h2>
				{{#inspection_data.standing_water_select}}
				<div class="roof-first">
					<p>
						<label>Standing Water: </label>
						<strong>{{inspection_data.standing_water_select}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.standing_water_select_slope}}</strong></p>
				</div>		
				{{/inspection_data.standing_water_select}}			
		</div>	
		{{/inspection_data.standing_water}}



		{{#inspection_data.product_defects}}
		<div>
			<h2>Product Defects</h2>
				{{#inspection_data.product_defects_asphalt_coating}}
				<div class="roof-first">
					<p>
						<label>Asphalt Coating: </label>
						<strong>{{inspection_data.product_defects_asphalt_coating}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.product_defects_asphalt_coating_slope}}</strong></p>
				</div>		
				{{/inspection_data.product_defects_asphalt_coating}}		

				{{#inspection_data.product_defects_blistering}}
				<div class="roof-first">
					<p>
						<label>Blistering: </label>
						<strong>{{inspection_data.product_defects_blistering}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.product_defects_blistering_slope}}</strong></p>
				</div>		
				{{/inspection_data.product_defects_blistering}}				
				

				{{#inspection_data.product_defects_flaking}}
				<div class="roof-first">
					<p>
						<label>Flaking: </label>
						<strong>{{inspection_data.product_defects_flaking}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.product_defects_flaking_slope}}</strong></p>
				</div>		
				{{/inspection_data.product_defects_flaking}}						
		</div>	
		{{/inspection_data.product_defects}}



		{{#inspection_data.workmanship}}
		<div>
			<h2>Workmanship/Improper Installation</h2>
				{{#inspection_data.workmanship_improper_nailing}}
				<div class="roof-first">
					<p>
						<label>Improper Nailing: </label>
						<strong>{{inspection_data.workmanship_improper_nailing}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_improper_nailing_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_improper_nailing}}		

				{{#inspection_data.workmanship_improper_overlap}}
				<div class="roof-first">
					<p>
						<label>Improper Overlap: </label>
						<strong>Improper Overlap</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_improper_overlap_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_improper_overlap}}		
				
				{{#inspection_data.workmanship_flashing}}
				<div class="roof-first">
					<p>
						<label>Flashing: </label>
						<strong>{{inspection_data.workmanship_flashing}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_flashing_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_flashing}}			

				{{#inspection_data.workmanship_flashing_missing}}
				<div class="roof-first">
					<p>
						<label>Flashing Missing: </label>
						<strong>{{inspection_data.workmanship_flashing_missing}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_flashing_missing_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_flashing_missing}}		

				{{#inspection_data.workmanship_venting}}
				<div class="roof-first">
					<p>
						<label>Venting: </label>
						<strong>{{inspection_data.workmanship_venting}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_venting_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_venting}}			
	
				{{#inspection_data.workmanship_incorrect_materials}}
				<div class="roof-first">
					<p>
						<label>Incorrect Materials: </label>
						<strong>Incorrect Materials</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_incorrect_materials_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_incorrect_materials}}	

				{{#inspection_data.workmanship_excessive_layers}}
				<div class="roof-first">
					<p>
						<label>Excessive Layers: </label>
						<strong>Excessive Layers</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_excessive_layers_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_excessive_layers}}			
				
				{{#inspection_data.workmanship_sub_par_deck}}
				<div class="roof-first">
					<p>
						<label>Sub Par Deck: </label>
						<strong>{{inspection_data.workmanship_sub_par_deck}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.workmanship_sub_par_deck_slope}}</strong></p>
				</div>		
				{{/inspection_data.workmanship_sub_par_deck}}		
				<div style="clear:both"></div>	
				{{#inspection_data.workmanship_other}}
				<div>
					<p>
						<label>Other: </label>
						<strong>{{inspection_data.workmanship_comments}}</strong>
					</p>
				</div>
				{{/inspection_data.workmanship_other}}				
				
		</div>	
		{{/inspection_data.workmanship}}

		{{#inspection_data.aged_worn}}
		<div>
			<h2>Aged/Worn</h2>
				{{#inspection_data.aged_worn_check_that_apply}}
				<div class="roof-first">
					<p>
						<label>Aged/Worn: </label>
						<strong>{{inspection_data.aged_worn_check_that_apply}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.aged_worn_check_that_apply_slope}}</strong></p>
				</div>		
				{{/inspection_data.aged_worn_check_that_apply}}				
		</div>	
		{{/inspection_data.aged_worn}}
		
		{{#inspection_data.fire_damages}}
		<div>
			<h2>Fire Damages</h2>
				{{#inspection_data.fire_damages_check_that_apply}}
				<div class="roof-first">
					<p>
						<label>Fire Damages: </label>
						<strong>{{inspection_data.fire_damages_check_that_apply}}</strong>
					</p>
				</div>
				<div class="roof-second">
					<p>Slopes: <strong>{{inspection_data.fire_damages_check_that_apply_slope}}</strong></p>
				</div>		
				{{/inspection_data.fire_damages_check_that_apply}}			
		</div>	
		{{/inspection_data.fire_damages}}
	{{/data_pages}}
	
	{{#photo_pages}}
		<div class="sketch-photos">
			{{#photos}}
			{{#big}}
			<pagebreak margin-left="1mm" margin-right="1mm" margin-top="1mm" margin-bottom="1mm" margin-header="1mm" margin-footer="1mm" />
			{{/big}}
			{{#endsketches}}
			<pagebreak margin-left="10mm" margin-right="8mm" margin-top="5mm" margin-bottom="3mm" margin-header="12mm" margin-footer="12mm" />
				</div>
				<div class="normal-photos">
				<h2>Photos</h2>
			{{/endsketches}}
			<div class="row {{^big}}photo{{/big}}" align="center">
				{{^big}}
				<img height="300" src="data:{{mime}};base64,{{content}}">		
				{{#category}}<br>{{category}}{{#subcategory}} / {{subcategory}}{{/subcategory}}{{/category}}
				<br>{{description}}
				{{/big}}
				{{#big}}
					<div style="text-align:center;">
						<img src="data:{{mime}};base64,{{content}}" height="1100">		
					</div>
				{{/big}}
			</div>
			{{^big}}
				<br>
				{{#page_break}}
					<!--<pagebreak margin-left="18mm" margin-right="16mm" margin-top="10mm" margin-bottom="8mm" margin-header="12mm" margin-footer="12mm" />-->
				{{/page_break}}
			{{/big}}
			{{/photos}}
		</div>
		
		<div class="title">
			<h1>Repair Estimates</h1>
			<div class="row">
				<table>
					<col width="550"></col>
					<col width="150"></col>
					
					<thead> 
						<tr>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					{{#estimates}}
					<tr>
						<td>
							{{description}}
						</td>
						<td>
							{{amount}} $
						</td>				
					</tr>
					{{/estimates}}
					<tr>
						<td>
							<strong>Total:</strong>
						</td>
						<td>
							{{#total_estimates}}<strong>{{total_estimates}} $</strong>{{/total_estimates}}
						</td>						
					</tr>
				</table>
			</div>
		</div>
		{{/photo_pages}}
	
	</body>
</head>