<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<title>Trinity: Dashboard</title>
	
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width,initial-scale=0.69,user-scalable=yes,maximum-scale=1.00" />
	
	{{#asset_css}}
		<link type="text/css" rel="stylesheet" media="all" href="{{path}}" />
	{{/asset_css}}
	
	<!--[if lte IE 8]>
		<script type="text/javascript" src="js/excanvas.min.js"></script>
	<![endif]-->
	
</head>

<body>
	<div id="wrapper">
		<div id="container" class="{{^has_sidebar}} no-bg {{/has_sidebar}}">
			
			<div id="top">
				<h1 id="logo"><a href="/"></a></h1>
				
				<div id="labels">
					<ul>
						{{#top_navigation}}
							<li>
								<a href="{{url_profile}}" class="user">
									<span class="bar">Welcome {{username}}</span>
								</a>
							</li>
							<li><a href="{{url_settings}}" class="settings"></a></li>
							<li><a href="{{url_logout}}" class="logout"></a></li>
						{{/top_navigation}}
					</ul>
				</div>
				
				<div id="menu">
					<ul> 
						{{#main_navigation}}
							<li {{#selected}} class="current" {{/selected}}>
								<a href="{{url}}">{{name}}</a>
								
								{{#is_sub_navigation}} <ul> {{/is_sub_navigation}}
									
									{{#sub_navigation}}
										<li {{#selected}} class="current" {{/selected}}>
											<a href="{{url}}">{{name}}</a>
										</li>
									{{/sub_navigation}}
									
								{{#is_sub_navigation}} </ul> {{/is_sub_navigation}}
							</li> 
						{{/main_navigation}}
					</ul>
				</div>

			</div> {{! #top}}
			<div class="plain">&nbsp;</div>
			{{#has_sidebar}}
				<div id="left">
					{{> sidebar}}
				</div>
			{{/has_sidebar}}
			
			<div id="right" class="{{^has_sidebar}} margin-small {{/has_sidebar}}">
				
				{{#is_alert}} <div class="section"> {{/is_alert}} 				
					{{#status_messages}}
						<div class="message {{message_type}}">
							<span>{{message_content}}</span>
						</div>
					{{/status_messages}}
					
				{{#is_alert}} </div> {{/is_alert}} 
				
								
				{{> content}}
			</div>
			
		</div> {{! #container}}
	</div>{{! #wrapper}}
	
	
	
	
	{{#asset_js}}
		<script type="text/javascript" src="{{path}}"></script>
	{{/asset_js}}

	{{#js_options}}
	<script type="text/javascript">{{& js_options}}</script>
	{{/js_options}}
</body>
</html>