{{#is_radio}}
	{{#data}}
		<input type="radio" {{#selected}}checked="checked"{{/selected}} name="{{name}}" id="{{name}}{{id}}" value="{{id}}" />
		
		<label for="{{name}}{{id}}">{{text}}</label>
	{{/data}}	
{{/is_radio}}

{{#is_select}}
	<select name="{{name}}">
		{{#is_blank}}<option value="blank">Please Select One</option>{{/is_blank}}
	{{#data}}
		<option value="{{id}}" {{#selected}} selected="selected" {{/selected}}>{{text}}</option>
	{{/data}}	
	</select>
{{/is_select}}

{{#is_checkbox}}
	{{#data}}
		<input type="checkbox" {{#selected}}checked="checked"{{/selected}} name="{{name}}[]" value="{{id}}" id="{{name}}{{id}}" />

		<label for="{{name}}{{id}}">{{text}}</label>
	{{/data}}
	
	{{#is_blank}}<input type="hidden" name="{{name}}[]" value="blank">{{/is_blank}}
{{/is_checkbox}}

{{#error_message}}
	<div class="cl"></div>
	<div class="row">	
		<label class="error">{{error_message}}</label>
		<div class="cl"></div>
	</div>
{{/error_message}}	