<div class="section">
	<div class="box">
		<div class="title">Estimates</div>
		
		<div class="content">

			<form action="{{post_url}}" method="post">
				<table cellspacing="0" cellpadding="0" border="0" class="multi-row-table">
					<thead>
						<tr>
							<th>Description</th><th>Amount</th><th>&nbsp;</th>
						</tr>
					</thead>
					
					<tbody>
					{{#estimates}}
					<tr>
						<td>
							<input type="text" name="descriptions[]" value="{{description}}">
							{{#description_error}}
								<br><label class="error">{{description_error}}</label>
							{{/description_error}}
						</td>
						<td>
							<input type="text" name="amounts[]" value="{{amount}}">
							{{#amount_error}}
								<br><label class="error">{{amount_error}}</label>
							{{/amount_error}}
						</td>
						<td>
							<a href="javascript:void(0);" class="remove-row">Remove</a>
						</td>
					</tr>
					{{/estimates}}
					
					{{^estimates}}
					<tr>
						<td>
							<input type="text" name="descriptions[]" value="">
						</td>
						<td>
							<input type="text" name="amounts[]" value="">
						</td>
						<td>
							<a href="javascript:void(0);" class="remove-row">Remove</a>
						</td>
					</tr>
					{{/estimates}}
					</tbody>
				</table>
				
				<div class="row">
					<a href="javascript:void(0);" class="add-new-row"><span>Add row</span></a>
				</div>
				
				<div class="row">
					<input type="hidden" name="csrf_token" value="{{csrf_token}}">		
					<button type="submit" name="save"><span>Save</span></button>
				</div>
			</form>
			
			<table class="new-row-container" style="display:none;">
				<tr>
					<td>
						<input type="text" name="descriptions[]" value="">
					</td>
					<td>
						<input type="text" name="amounts[]" value="">
					</td>
					<td>
						<a href="javascript:void(0);" class="remove-row">Remove</a>
					</td>
				</tr>
			</table>
		
		</div>
	</div>
</div>